<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ActivityWinOff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ActivityWinOff.Properties.Settings>
            <setting name="NetworkAdapter" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkTriggerSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetworkTriggerTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NetworkTriggerTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkAdapterTriggerType" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkTrafficEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShutdownType" serializeAs="String">
                <value />
            </setting>
            <setting name="NetworkAverage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAtWindowsStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserActivityEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserActivityMouse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserActivityKeyboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserActivityTriggerTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserActivityTriggerTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="StartActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConditionBehavior" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimerDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerHours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerMins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPUUtilEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUUtilLoadBelow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPUUtilAverage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUUtilTriggerTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPUUtilTriggerTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="WaitForProgramEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitForProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="WaitForProgramTriggerTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WaitForProgramTriggerTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="WarningTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WarningShowEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActionProgramEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecificTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecificTimerTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ShutdownSequence" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableScreensaver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupSequence" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusProgramEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FocusProgram" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusProgramPoolInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableLogger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShutdownForced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupProgramsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShellStartProgramEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShellStartProgramPath" serializeAs="String">
                <value />
            </setting>
        </ActivityWinOff.Properties.Settings>
    </userSettings>
</configuration>
